//Tipografia
$fuente_principal: 'Montserrat', sans-serif;


//colores
$verde: rgb(0, 199, 133);
$rojo: rgb(255, 0, 0);
$rosa: rgb(255, 0, 128);
$amarillo: rgb(217, 255, 0);
$morado: #752f97;
$negro: #000;
$blanco: #fff;

//Tamanos de Media Querys
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
